
<!-- Categories widget-->
<div class="card mb-4">
                    <div class="card-header">Go to category</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for cat in cats|slice:":3" %}
                                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for cat in cats|slice:"3:" %}
                                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>