<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% block navbar %}

                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% for m in menu %}
                        {% if  title != m.title %}
                            <li class="nav-item"><a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page"
                                                    href="{% url m.url_name %}">{{ m.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>


                <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
                    {% if request.user.is_authenticated %}
                        {% for m in user_in %}
                            {% if  title != m.title %}
                                <li class="nav-item"><a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                                        href="{% url m.url_name %}">{{ m.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for m in user_out %}
                            {% if  title != m.title %}
                                <li class="nav-item"><a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                                        href="{% url m.url_name %}">{{ m.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
    </div>
</nav>