{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load crispy_forms_tags %}


{% block page_head %}
    <!-- Page header with logo and tagline-->
    <header class="bg-light border-bottom border-top mb-4">
        <div class="container">
            <div class="text-decoration-none my-5">
                <h1 class="fw-bolder">Post here!</h1>
                <p class="lead mb-0">Here you can create blog-post that will be saved
                    and shown to anyone who wants to watch.<br>The recommended image size for a post is 700x350.</p>
            </div>
        </div>
    </header>
{% endblock %}



{% block page_content %}

    <!-- Page content-->
        <div class="row">
            <div class="col-lg-8">
                <!-- Add Post Form-->

                <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>{{ form.non_field_errors }}</div>
                    {% crispy form %}
                    {#                    {{ form.as_p }}#}
                    {#                    <button class='btn btn-primary' type="submit">Add post</button>#}
                </form>
                <br>
            </div>

            <!-- Side widgets-->
            {#            <div class="col-lg-4">#}
            {#                <!-- Categories widget-->#}
            {#                {% categories_widget %}#}
        </div>

    </div>

{% endblock %}