{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load crispy_forms_tags %}


{% block page_head %}
    <!-- Page header with logo and tagline-->
    <header class="bg-light border-bottom border-top mb-4">
        <div class="container-sm">
            <div class="text-decoration-none my-5">
                <h1 class="fw-bolder">Register</h1>
                <p class="lead mb-0">You can register with common validation rules.<br>User will add to database, after that you can rate and comment posts and create your own!</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_content %}

    <!-- Page content-->
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Add Post Form-->
                <form method="post" class="form-control">
                    {% csrf_token %}
                    {% crispy form %}
{#                    {% for f in form %}#}
{#                        <p><label class="col-form-label-lg" for="{{ f.id_for_label }}">{{ f.label }}: </label> {{ f }}</p>#}
{#                        <div class="row-form-errors">{{ f.errors }}</div>#}
{#                    {% endfor %}#}
                    <br>
                    <br>
                    <button class='btn btn-primary' type="submit">Register</button>
                </form>
            <br>
            <br>
            </div>

            <!-- Side widgets-->
{#            <div class="col-lg-4">#}
{#                <!-- Categories widget-->#}
{#                {% categories_widget %}#}
{#            </div>#}

        </div>
    </div>

{% endblock %}